<p>Página de cadastro</p>
<form [formGroup]="formularioCadastro" (ngSubmit)="enviarFormulario()">
  <div>
    <label for="nomeUsuario">Nome de usuário</label><br>
    <input type="text" id="nomeUsuario" formControlName="nomeUsuario" required><br>
    <!-- Mensagem de erro -->
    <div *ngIf="formularioCadastro.get('nomeUsuario')?.touched && formularioCadastro.get('nomeUsuario')?.hasError('required')" class="error">
      O nome de usuário é obrigatório.
    </div>
  </div>
  
  <div>
    <label for="emailUsuario">Entre com seu email:</label><br>
    <input type="email" id="emailUsuario" formControlName="emailUsuario" required><br>
    <div *ngIf="formularioCadastro.get('emailUsuario')?.touched && formularioCadastro.get('emailUsuario')?.hasError('required')" class="error">
      O email é obrigatório.
    </div>
  </div>
  
  <div>
    <label for="senhaUsuario">Senha</label><br>
    <input type="password" id="senhaUsuario" formControlName="senhaUsuario" required><br>
    <div *ngIf="formularioCadastro.get('senhaUsuario')?.touched && formularioCadastro.get('senhaUsuario')?.hasError('required')" class="error">
      A senha é obrigatória.
    </div>
  </div>
  
  <div>
    <label for="tipoUsuario">Tipo:</label>
    <select id="tipoUsuario" formControlName="tipoUsuario" required>
      <option value="">Selecione o tipo</option>
      <option value="ADMIN">Admin</option>
      <option value="PADRAO">Padrão</option>
    </select>
    <div *ngIf="formularioCadastro.get('tipoUsuario')?.touched && formularioCadastro.get('tipoUsuario')?.hasError('required')" class="error">
      O tipo de usuário é obrigatório.
    </div>
  </div>
  
  <div>
    <input type="checkbox" id="termosCondicoes" formControlName="termosCondicoes">
    <label for="termosCondicoes">Eu aceito os termos e condições (sua alma será nossa)</label><br>
  </div>
    <input type="submit" value="Finalizar cadastro">
</form>
