<p>Página de cadastro</p>
<form>
    <label for="nome-Usuario">Nome de usuário</label><br>
    <input type="text" id="nome-Usuario" name="nome-Usuario"><br>
    <label for="email">Entre com seu email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="email">Confirme seu email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="senha">Senha</label><br>
    <input type="text" id="senha" name="senha"><br>
    <label for="confirmar-senha">Confirme sua senha:</label><br>
    <input type="text" id="confirmar-senha" name="confirmar-senha"><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3">Eu aceito os termos e condições(sua alma será nossa)</label><br>
    <input type="submit" value="Finalizar cadastro">

</form>
